// Color
$body-bg: #0d0d0f;
$main-color: #ea2340;
$second-color: #1f2324;
$third-color: #141421;
$txt-color: #555659;
$white: #fff;
$black: #000;

// Session size
$header-h: 65px;

// Break point
$mobile-width: 600px;
$tablet-width: 1024;

$font-family: 'Barlow', sans-serif;
