// Color
$body-bg: #141414;
$main-color: #ff0028;
$second-color: #363636;
$third-color: #202020;
$txt-color: #555659;
$white: #fff;
$black: #000;

// Session size
$header-h: 100px;

// Break point
$mobile-width: 600px;
$tablet-width: 1024;

$font-family: 'Barlow', sans-serif;
