// Color
$body-bg: #0d0d0f;
$main-color: #ff1c22;
$second-color: #1f2324;
$third-color: #232434;
$txt-color: #555659;
$white: #fff;
$black: #000;

// Session size
$header-h: 100px;

// Break point
$mobile-width: 600px;
$tablet-width: 1024;

$font-family: 'Barlow', sans-serif;
